div.price-slider {
    background: url("../../images/catalin_seo/bkg_slider.png") repeat-x scroll 0 0 transparent;
    height: 17px;
}

div.price-slider .filter-handle {
    height: 17px;
    width: 10px;
    cursor: e-resize;
    display: block;
}

div.price-slider .price-slider-from {
    background: url("../../images/catalin_seo/slider.png") no-repeat scroll 0 0 transparent;
}

div.price-slider .price-slider-to {
    background: url("../../images/catalin_seo/slider.png") no-repeat scroll -26px 0 transparent;
    cursor: w-resize;
    margin-top: -17px;
}

.layer-check {
    display:inline-block;
    width:16px;
    height:14px;
    background: url("../../images/catalin_seo/check_layered_nav.png") top left no-repeat;
}
.layer-check.checked {
    background: url("../../images/catalin_seo/check_layered_nav.png") bottom left no-repeat;
}