.idea
.htaccess

/*.php
/*.sh
/*.ico
/*.sample

/LICENSE*
!/LICENSE.txt
/RELEASE*

/downloader/
/errors/
/includes/
/js/
/lib/
/mage
/media/
/pkginfo/
/var/
/shell/
/dev/

/app/etc/*.xml
/app/bootstrap.php
/app/etc/*.template
/app/etc/*.additional
/app/etc/modules/Cm_*
/app/etc/modules/Mage_*
/app/etc/modules/Phoenix_*

/app/Mage.php

/app/code/core/
/app/code/community/Cm/
/app/code/community/Phoenix/

/app/design/adminhtml
/app/design/install
/app/design/frontend/default/
/app/design/frontend/rwd/
/app/design/frontend/base/default/etc/
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/catalin_seo/
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/catalin_seo.xml

/app/locale/en_US/*
!/app/locale/en_US/Catalin_SEO.csv
!/app/locale/nl_NL/Catalin_SEO.csv

/skin/adminhtml
/skin/install
/skin/frontend/rwd/
/skin/frontend/default/
/skin/frontend/base/default/css/*
/skin/frontend/base/default/images/*
/skin/frontend/base/default/js/*
/skin/frontend/base/default/lib/
!/skin/frontend/base/default/css/catalin_seo/
!/skin/frontend/base/default/images/catalin_seo/
!/skin/frontend/base/default/js/catalin_seo/
/skin/frontend/base/default/favicon.ico
