<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Catalin_SEO>
            <version>3.3.2</version>
        </Catalin_SEO>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>Catalin_SEO_Model_Catalog_Layer</layer>
                    <layer_filter_item>Catalin_SEO_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_category>Catalin_SEO_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>Catalin_SEO_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Catalin_SEO_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Catalin_SEO_Model_CatalogSearch_Layer</layer>
                    <layer_filter_attribute>Catalin_SEO_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <enterprise_search>
                    <catalog_layer_filter_attribute>Catalin_SEO_Model_Enterprise_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
            </enterprise_search>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Catalin_SEO_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Catalin_SEO_Model_Catalog_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
            <catalin_seo>
                <class>Catalin_SEO_Model</class>
                <resourceModel>catalin_seo_resource</resourceModel>
            </catalin_seo>
            <catalin_seo_resource>
                <class>Catalin_SEO_Model_Resource</class>
                <entities>
                    <attribute_url_key>
                        <table>catalin_seo_attribute_url_key</table>
                    </attribute_url_key>
                </entities>
            </catalin_seo_resource>
        </models>
        <resources>
            <catalin_seo_setup>
                <setup>
                    <module>Catalin_SEO</module>
                </setup>
            </catalin_seo_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_state>Catalin_SEO_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>Catalin_SEO_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <layer_filter_attribute>Catalin_SEO_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Catalin_SEO_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_price>Catalin_SEO_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Catalin_SEO_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <enterprise_search>
                <rewrite>
                    <catalog_layer_filter_attribute>Catalin_SEO_Block_Enterprise_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                    <catalogsearch_layer_filter_attribute>Catalin_SEO_Block_Enterprise_CatalogSearch_Layer_Filter_Attribute</catalogsearch_layer_filter_attribute>
                </rewrite>
            </enterprise_search>
            <configurableswatches>
                <rewrite>
                    <catalog_layer_state_swatch>Catalin_SEO_Block_ConfigurableSwatches_Catalog_Layer_State_Swatch</catalog_layer_state_swatch>
                </rewrite>
            </configurableswatches>
            <catalin_seo>
                <class>Catalin_SEO_Block</class>
            </catalin_seo>
        </blocks>
        <helpers>
            <configurableswatches>
                <rewrite>
                    <productlist>Catalin_SEO_Helper_ConfigurableSwatches_Productlist</productlist>
                </rewrite>
            </configurableswatches>
            <catalin_seo>
                <class>Catalin_SEO_Helper</class>
            </catalin_seo>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <catalin_seo>
                        <class>Catalin_SEO_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </catalin_seo>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <catalin_seo_attribute>
                    <model>catalin_seo/indexer_attribute</model>
                </catalin_seo_attribute>
            </indexer>
        </index>
    </global>
    <frontend>
        <translate>
            <modules>
                <catalin_seo>
                    <files>
                        <default>Catalin_SEO.csv</default>
                    </files>
                </catalin_seo>
            </modules>
        </translate>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Catalin_SEO before="Mage_Catalog">Catalin_SEO</Catalin_SEO>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Catalin_SEO before="Mage_CatalogSearch">Catalin_SEO</Catalin_SEO>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <catalin_seo module="Catalin_SEO">
                    <file>catalin_seo.xml</file>
                </catalin_seo>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalin_seo>
            <catalog>
                <enabled>1</enabled>
                <ajax_enabled>1</ajax_enabled>
                <price_slider>1</price_slider>
                <multiple_choice_filters>1</multiple_choice_filters>
                <routing_suffix>filter</routing_suffix>
                <nofollow>0</nofollow>
                <show_more_link>0</show_more_link>
                <category_links>0</category_links>
                <search_filter>0</search_filter>
            </catalog>
        </catalin_seo>
    </default>
</config>
